.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
          transform: translateX(42px) translateY(42px) rotate(-179deg);
          -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
      } 50.1% {
            transform: translateX(42px) translateY(42px) rotate(-180deg);
            -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
        } 75% {
              transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
              -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          } 100% {
                transform: rotate(-360deg);
                -webkit-transform: rotate(-360deg);
            }
}

.griddle-container{
}

.griddle .top-section{
    clear:both;
    display:table;
    width:100%;
}

.griddle .griddle-filter{
    float:left;
    width:50%;
    text-align:left;
    color:#222;
    min-height:1px;
}

.griddle .griddle-settings-toggle{
    background: transparent;
    float:left;
    width:50%;
    text-align:right;
}

.griddle .griddle-settings{
    background: transparent;
    color:#222;
    padding:10px;
    margin-bottom:10px;
}
.settings{
    background: transparent;
    border: none;
}

.griddle .griddle-settings .griddle-columns{
    clear:both;
    display:table;
    border-bottom:1px solid #EDEDED;
    margin-bottom: 0px;
}

.griddle .griddle-settings .griddle-column-selection {
    float:left;
    width:20%;
}
.griddle table{
    width:100%;
    /*table-layout:fixed;*/
}


.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
    color: black !important;
    float:left;
    width:33%;
    min-height:1px;
    margin-top:5px;
}

.griddle .griddle-page{
    text-align:center;
}

.griddle .griddle-next{
    background-color: transparent;
    text-align:right;
}

.tableName{
    color: white;
}

.griddle-next > .btn {

    position: relative !important;
    left: -46px !important;
    width: 69px !important;

}

/*.griddle-previous > button > span {*/
/*display: none;*/
/*}*/

/*position: relative;*/
/*left: -46px;*/
/*width: 69px;*/
